{{define "contact"}}

<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>KoMeat - Butcher shop</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/static/images/logoClassic.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">    
	<!-- Site CSS -->
    <link rel="stylesheet" href="/static/css/style.css">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/static/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="/">
					<img src="/static/images/logoText.png" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="/">Главная</a></li>
						<li class="nav-item"><a class="nav-link" href="/menu/">Меню</a></li>
						<li class="nav-item"><a class="nav-link" href="/about/">О Нас</a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Страницы</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="/chefs/">Повара</a>
								<a class="dropdown-item" href="/gallery/">Галерея</a>
							</div>
						</li>
						<li class="nav-item active"><a class="nav-link" href="/contacts/">Обратная связь</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->
	
	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>Обратная связь</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->
	
	<!-- Start Contact -->
	<div class="small-box"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="heading-title text-center">
					<div class="heading-title text-center">
						<h2>На этой странице Вы можете оставить отзыв о наших услугах</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="contact-box">
		<div>
			<div class="heading-title text-center">
				<h2>Форма обратной связи</h2>
				<p>Пожалуйста, оставьте обратную связь в форма ниже</p>
			</div>
		</div>
		<form action="/saveFeetback/" method="post">
			<div class="form-group">
				<input type="text" id="name" name="name" class="form-control" placeholder="Ваше имя" required data-error="Пожалуйста, введите ваше имя">
					<div class="help-block with-errors"></div>
			</div>
			<input type="text" placeholder="Ваш Email" id="email" class="form-control" name="email" required data-error="Пожалуйста, введите ваш email">
					<div class="help-block with-errors"></div>
			<div class="rating-area" id="site-rating">
				<input type="radio" id="star-5" name="siterating" value="5">
				<label for="star-5" title="Оценка «5»"></label>	
				<input type="radio" id="star-4" name="siterating" value="4">
				<label for="star-4" title="Оценка «4»"></label>    
				<input type="radio" id="star-3" name="siterating" value="3">
				<label for="star-3" title="Оценка «3»"></label>  
				<input type="radio" id="star-2" name="siterating" value="2">
				<label for="star-2" title="Оценка «2»"></label>    
				<input type="radio" id="star-1" name="siterating" value="1">
				<label for="star-1" title="Оценка «1»"></label>
				<div class="help-block with-errors"></div>
			</div>
			<textarea class="form-control" name="content" id="message" placeholder="Ваше сообщение" rows="4" data-error="Пожалуйста, напишите ваше сообщение" required></textarea>
			<div class="counter">0 / 430</div>
				<div class="help-block with-errors"></div>
			<div class="submit-button text-center">
				<button class="btn btn-common" id="submit" type="submit">Отправить отзыв</button>
			</div>
		</form>
	</div>
	<!-- End Contact -->
	
    <script>
        const textarea = document.getElementById('message');
        const counter = document.querySelector('.counter');

        textarea.addEventListener('input', function() {
            const messageLength = this.value.length;
            counter.textContent = messageLength + ' / 430';

            if (messageLength > 430) {
                counter.style.color = 'red';
            } else {
                counter.style.color = 'gray';
            }
        });
    </script>
</body>
{{template "footer"}}
{{end}}